*{
    padding: 0;
    margin: 0;
}

body{
    background-color:#3C6255 ;
    color: white;
    font-family: 'Roboto Mono', monospace;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color:#3C6255 ;
}
nav ul{
    display: flex;
    justify-content: center;

}
nav ul li{
    list-style-type: none;
    margin: 0 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
nav ul li a:hover{
    color: #FFF4F4;
    font-size: 1.4rem;
}
main hr{
    border: 0;
    background-color: #99DBF5;
    height: 1.2px;
    margin: 40px 84px;
}
.left{
    font-size: 1.5rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 160px 0;

}
.firstSection > div{
    width: 30%
}
.leftSection{
    font-size: 3rem;

}
.leftSection .buttons{
    padding: 50px 0;
}
.leftSection .button{
    padding: 12px;
    background-color:aqua ;
    color: #FFF4F4;
    border:  2px solid #FFF4F4;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}
.rightSection img{
    width: 80%;

}
.aqua{
    color: #99DBF5;
}
.grey{
    color: grey;
}
#element{
    color: #99DBF5;
}
.secondSection{
    position: relative;
    top: 26px;
    max-width: 80vw;
    height: 60em;
    margin: auto;
    
}
.secondSection h1{
    font-size: 1.9rem;
}
.secondSection .box{
    background: white;
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondSection .vertical{
    height: 93px;
    width: 2px;
    background-color:white ;
    margin: 0 6vw;
}
.img-top{
    width: 30px;
    height: 30px;
    position: relative;
    top: -32px;
    left: -9px;
}
.vertical{
    margin: 0;
}
.vertical-text{
 position: relative;
 top: 70px;
 right: 15px;
 width: 150px;
 font-size: 14px;
}
.vertical-desc{
    position: relative;
    top: 70px;
    right: 15px;
    color: white;
    width: 150px;
    font-size: 9px;
}
.thridSection{
    width: 100%;
    height: 60em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 3em;

}
html{
    scroll-behavior: smooth;
}
.thridSection > .left{
    width: 55%;
    height: 60%;
    box-sizing: border-box;
    justify-content: flex-start;
    display: flex;
}
.thridSection > div.right > div.line {
    width: 100%;
    height: 30%;
    display: flex;
   
}
.thridSection > div.right > div.line > img{
    width: 200px;
    height: 200px;
    
}
.thridSection > div.right > div.line > h3 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
   
}
.thridSection > div.right > div.line > a.button{
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    
} 
footer section.top{
    width: 100%;
    height: 80%;
    padding: 0 1.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer section.top>div.item {
    width: 23%;
    height: 100%;
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    
}

div.item-social-media {
    padding: 4em 0;
    justify-content: space-between;
    align-items: flex-start;
}

div.item-social-media>img {
    width: 5em;
}

div.item-social-media>h2 {
    text-transform: uppercase;
    font-size: 1em;
    color: whitesmoke;
}


div.item-social-media>div.social-icons{
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    color: whitesmoke;
}

div.circle-social-icon{
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 0.5em;
}
div.item-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em 0;
}
 div.item-about, div.item-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em 0;
}

div.item-contact>h2, div.item-about>h2, div.item-news>h2 {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold;
}

div.item-contact>ul {
    list-style-type: none;
}

div.item-contact ul li, div.item-news ul li {
    margin-bottom: 10px;
    font-size: 10pt;
}
div.item-about>ul, div.item-news>ul{
    list-style-type: none;
}
div.item-about>ul, div.item-news>ul{
    margin: 1.3em 1em;

}
div.item-contact ul li,div.item-news ul li, div.item-about ul li{
    margin-bottom: 10px;
}
footer section.bottom>p{
    width: 100%;
    height: 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 0 1.5em;
    justify-content: center;
    align-items: center;
}
footer section.bottom p{
    font-weight: 8pt;
    padding: 1em;
}
.button{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #99DBF5;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.button:active{
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}
@media screen  and ( max-width: 1024px){
    body{
        min-width: fit-content;
    }
    nav{
        flex-direction: column;
    }
    .firstSection{
        flex-direction: column-reverse
        ;
    }
    .leftSection{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rightSection{
        width: 721px !important;
        display: flex;
        justify-content: center;
    }
    .secondSection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box{
        flex-direction: column;
    }
    .secondSection .vertical{
        height: unset;
    }
    .vertical-text{
        position: relative;
        left: 26px;
        top: 0;
        width: 150px;
        font-size: 14px;
    }
    .vertical-desc{
        position: relative;
        left: 26px;
        top: 0;
        color: white;
        width: 150px;
        font-size: 9px;
    }
    .thridSection >.left{
        display: none;
    }

    .secondSection .box{
        width:50vw ;
    }
    .img-top{
        top: 37px;
    }
    footer{
        font-size: 10px;
    }

    .button{
        padding: 0.25em 0.75em
    }

}
